/* CSS Body Reset "Removing the auto padding at the header section */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(249, 248, 255);
}

/* Header - Navigation Bar CSS properties up here! */
#navigationBar {
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 0px 100px 0px 100px;
    background-color: rgb(43, 43, 43);
}

#navigationBar div {
    text-align: center;
    display: inline-block;
}

#titleLogo {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode';
    color: rgb(226, 226, 226);
    padding: 10px 0px 10px 0px;
}

#navButtonsContainer {
    position: relative;
    left: 645px;
}

.navButton:link, .navButton:visited {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-family: Segoe UI;
    color: rgb(192, 192, 192);
    padding: 0px 20px 10px 20px;
    transition: .2s;
}

.navButton:hover {
    color: white;
}

/* Main - Content CSS properties in here! */
#content-container {
    font-size: 20px;
    text-align: center;
    font-family: Segoe UI;
    margin: 85px 100px 85px 100px;
}

/* Footer CSS properties down here!*/
#bottomLine {
    margin: 0px 350px 0px 350px;
    padding: 0px 0px 25px 0px;
}

#bottomLine hr {
    border: 1px dashed rgb(156, 156, 156);
}

#footer {
    color: white;
    text-align: center;
    font-family: Segoe UI;
    font-weight: 400;
    background-color: rgb(27, 27, 27);
    padding: 20px;
}

/* General CSS classes */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
