body {
    margin: 0;
    padding: 0;
    background-color: rgb(249, 248, 255);
}

.navigation-bar {
    top: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 120px 10px 120px;
    background-color: rgb(43, 43, 43);
}

a.navigation-item:link, a.navigation-item:visited {
    float: left;
    width: 25%;
    font-size: 20px;
    text-decoration: none;
    font-family: Segoe UI;
    color: rgb(192, 192, 192);
    transition: .5s;
}

a.navigation-item:hover {
    color: white;
}

.img-header {
    font-family: Segoe UI;
    font-size: 20px;
    text-align: center;
    margin-top: 64px;
    padding: 75px 150px 150px 150px;
    color: rgb(241, 241, 241);
    background-image: url("../files/img/banner-main.png");
    border-width: 10px;
}

.img-header h1 {
    font-size: 72px;
    margin: 0px;
}

.img-header a:link, a:visited {
    border: 3px solid;
    border-color: rgb(241, 241, 241);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 24px;
    color: rgb(241, 241, 241);
    transition: .5s;
}

.img-header a:hover {
    color: rgb(27, 27, 27);
    background-color: rgb(241, 241, 241);
}

.highlighted-projects {
    padding: 250px 50px 250px 50px;
    font-size: 32px;
    text-align: center;
}

.footer-container {
    color: white;
    text-align: center;
    font-family: Segoe UI;
    font-weight: 400;
    background-color: rgb(27, 27, 27);
    padding: 45px;
}

#website-logo {
    width: 100%;
}

#navigation-links {
    width: 100%;
    padding-top: 5px;
    text-align: center;
}