/* Universal styles for all web pages which includes headers and footers, etc... */
$bg-maincolor: rgb(241, 241, 241);

body {
    margin: 0px;
    padding: 0px;
    background-color: $bg-maincolor;
}

.navigation-bar {
    float: left;
    a.navigation-item:link, a.navigation-item:visited {

    }
    a.navigation-item:hover {
        background-color: black;
        border-radius: 24px;
        color: white;
    }
}